
.menu
  %ul.inlineList
    %li 
      = menu_item('index', 'Home', 'first')
    %li 
      = menu_item('services', 'Our Services')
    %li 
      = menu_item('questions', 'Questions')
    %li 
      = menu_item('media', 'Media')
    %li 
      = menu_item('about', 'About Us')
    %li 
      = menu_item('contact', 'Contact Us')
    %li 
      = menu_item('newsletters', 'Newsletters', 'last')
      