!!! Strict
%html{html_attrs('en-en')}

  = partial('partials/_header')
        
  %body
    .padTop50
      .page.pagebg.bottomBorder
        .header
          = partial('partials/_menu')
        .clear
        .unit.width250.sideBar
          %a{ :href=>'/', :title=>'London Property Match: home page' }
            %h1.logo London Property Match
        
        .unit.span-500
          .wrapper
            .content
              = yield

        .unit.span-210
          %img{ :src=>"/images/#{@image}_quotes.jpg" }
        .clear
      .page
        %img{ :src=>"/images/#{@image}_image.jpg", :class=>'showImg' }
  
